apiVersion: apps/v1
kind: Deployment
metadata:
  name: portal-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: portal-deployment
  template:
    metadata:
      labels:
        app: portal-deployment
    spec:
      containers:
        - name: portal-deployment
          image: portalbackend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
