name: Build a Docker image and Push it to ACR

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: azure/docker-login@v1
        with:
           login-server: azcourseacr.azurecr.io
           username: azcourseacr
           password: TZ/Hppt2n9z3/9evSsPZooz7v+pPV7ipycb1q2jYad+ACRCL9fPq
      - run: |
          docker build . -t azcourseacr.azurecr.io/azcourseacr:1.0
          docker push azcourseacr.azurecr.io/azcourseacr:1.0
